<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jo.com.pcstores.rpos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PC Stores POS"
        android:roundIcon="@mipmap/iconlogo"
        android:supportsRtl="true"
        android:theme="@style/custom">
        <activity
            android:name=".pos.Activities.SplashActivity"
            android:screenOrientation="landscape">
            />
        </activity>
        <activity
            android:name=".pos.Activities.LoginActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".pos.Activities.Splash2Activity" android:screenOrientation="landscape">

           </activity>
        <activity android:name=".pos.Activities.Splash3Activity"></activity>
        <activity
            android:name=".pos.Activities.NavMainActivity"
            android:label="@string/title_activity_nav_main"
            android:theme="@style/custom.NoActionBar" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>